{%- comment %}
  Kopfbereich 2
  class: header-2

  Section:
    - Image (logo)
    - Html (bg-style)  [opt]

{% endcomment -%}

{%- comment %}
  Kopfbereich 2
  class: header-2

  Section:
    - Image (logo)

{% endcomment -%}


{% for block in section.blocks %}

  {%- case block.block_type -%}

  {%- when 'html' -%}

  {% assign section_style = section_style | append: ' ' | append: block.settings.html %}
  {% assign section_style = section_style | strip_html | strip_newline | remove: ' ' %}


  {%- when 'image' -%}

  {%- assign image_block = block -%}

  {%- endcase -%}

{% endfor %}




<div class="header-2">

  <div class="navbar navbar-expand-lg" id="nav" style="transition: 0.3s ease-in-out; background-color: rgb(250, 250, 250); {{section-style}}">
    <div class="container d-flex justify-content-center px-0">

      <a class="navbar-brand col-lg-3 d-flex justify-content-center px-0 mx-0" href="{{ image_block.link.url }}">
        <img height="50" src="{{ image_block.settings.src }}" alt="{{ image_block.settings.alt }}">
      </a>

    </div>
  </div>
</div>