<div class="header-1">

  {% if linklists.navigation_topper.links %}
  <div class="topper d-none d-lg-flex justify-content-end container">

    {% for topperitem in linklists.navigation_topper.links %}
 
    <div>
      {%- if forloop.index==1 -%}
      {% assign topperitem_kind = 'tel:' %}
      {%- elsif forloop.last -%}
      {% assign topperitem_kind = 'mailto:' %}
      {%- endif -%}
      <a href="{{ topperitem_kind }}{{ topperitem.url }}">
        {{ topperitem.text }}
      </a>
    </div>

    {% if forloop.last == false %}
    <span class="px-3">
      |
    </span>
    {% endif %}

    {% endfor %}

  </div>
  {% endif %}


  <nav class="navbar navbar-expand-lg" id="nav" style="transition: 0.3s ease-in-out;">
    <div class="container px-0">

      <a class="navbar-brand col-lg-3 pl-0" href="{{ section.blocks[0].link.url }}">
        <img height="50" class="cld-responsive" data-src="{{ section.blocks[0].settings.src }}" src="{{ section.blocks[0].settings.src }}" alt="{{ section.blocks[0].settings.alt }}">
      </a>

      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="toggler"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5">

          {% comment %} mobile only {% endcomment %}

          {% assign topperitem = linklists.navigation_topper.links[0] %}
          <li class="nav-item px-sm-1 dropdown header__phone-item pt-2 pb-1 d-lg-none" id="phone-item" style="box-shadow: none !important;">
            <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M426.666 330.667a250.385 250.385 0 0 1-75.729-11.729c-7.469-2.136-16-1.073-21.332 5.333l-46.939 46.928c-60.802-30.928-109.864-80-140.802-140.803l46.939-46.927c5.332-5.333 7.462-13.864 5.332-21.333-8.537-24.531-12.802-50.136-12.802-76.803C181.333 73.604 171.734 64 160 64H85.333C73.599 64 64 73.604 64 85.333 64 285.864 226.136 448 426.666 448c11.73 0 21.334-9.604 21.334-21.333V352c0-11.729-9.604-21.333-21.334-21.333z"></path>
            </svg>
            <a href="tel:{{ topperitem.url }}" title="{{ topperitem.title }}">
              {{ topperitem.text }}
            </a>
          </li>
          <li class="dropdown-divider d-lg-none" id="phone-item-divider"></li>


          {% for menuitem in linklists.navigation.links %}

          {% if forloop.last == false %}
          {% if menuitem.url %}

          <li class="nav-item 
              {% if page.path == link.url %}
                on-page
              {% endif %}
            ">
            <a class="nav-link h5 pl-2 pl-md-2
                {% if page.path == link.url %}
                  on-page
                {% endif %}
              "
              href="{{ menuitem.url }}" title="{{ submenuitem.title }}">
              {{ menuitem.text }}
            </a>
          </li>

          {% else %}
          {% comment %} menuitem.url == true >> no Dropdown-menu {% endcomment %}

          <li class="nav-item px-sm-1 dropdown
            {% if page.path contains link.url %} on-page {% endif %}
            ">
            <a class="nav-link h5 pl-2 pl-md-2 dropdown-toggle
                {% if page.path contains 'link.url' %} on-page {% endif %}"
              href="{{ menuitem.url }}" title="{{ menuitem.title }}" id="dropdownmenu-{{forloop.index}}" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ menuitem.name }}
            </a>

            <div class="dropdown-menu mt-0" aria-labelledby="dropdownmenu-{{forloop.index}}">

              {% for submenuitem in menuitem.links %}

              {% if submenuitem.type == 'divider' %}
              <div class="dropdown-divider"></div>

              {% else %}
              <a class="dropdown-item
                  {% if page.path == submenuitem.url %}
                    on-page
                  {% endif %}
                  "
                href="{{ submenuitem.url }}" title="{{ submenuitem.title }}">
                {{ submenuitem.text }}
              </a>

              {% endif %}
              {% endfor %}
            </div>
          </li>


          {% endif %}

          {% endif %}

          {% endfor %}

        </ul>

        {% assign lastindex = linklists.navigation.links.size | minus: 1 %}

        <a class="btn btn-secondary mt-3 mt-lg-0 text-white" href="{{ linklists.navigation.links[lastindex].url }}"
          title="{{ linklists.navigation.links[lastindex].title }}" role="button">
          {{ linklists.navigation.links[lastindex].text }}
        </a>

      </div>
    </div>
  </nav>
</div>