{%- comment %}
Akkordeon 1
class: accordion-1

Section:
pos1: [image] (icon) (not optional!)
pos2: [text.plain] (h2) (opt)

This Section works with Linklist
Linklist name has to be "accordion"!

Every "box" is a sublink-list of "accordion"
The title of the box is the name of the sublink-list

Every link in the sublink-list is a row
link.text is the text in the row
link.url is the url of the row
{% endcomment -%}

{% assign index_out = 0 %}

<div class="accordion-1 container py-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      {%- if section.blocks[1].settings.plain -%}
        <h2 class="text-center pb-3">
          {{section.blocks[1].settings.plain}}
        </h2>
      {%- endif -%}
      <div class="accordion shadow" id="accordion">
        {% for link in linklists.accordion.links %}
          <div class="card">
            <div class="card-header pl-0" id="card-{{forloop.index}}">
              <button class="btn btn-link btn-arrow collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{forloop.index}}" aria-expanded="false" aria-controls="collapse-{{forloop.index}}">
                {%- if section.blocks[0].block_type == 'image' -%}
                <img class="inject-me arrow-icon mr-3" src="{{section.blocks[0].settings.src_svg}}.svg" alt="{{section.blocks[0].settings.alt}}" style="width: 2rem; height: 2rem;">
                {%- endif -%}
                <span>
                  {{link.name}}
                </span>
              </button>

            </div>
            {% assign index_out = index_out | plus: 1 %}
            {% assign index_in = 0 %}

            {% assign var_show = '' %}
            {%- for sublink in link.links -%}
              {%- if sublink.url == page.path -%}
                {% assign var_show = 'show' %}
                {% break %}
              {%- endif -%}
            {%- endfor -%}
            <div class="collapse {{var_show}}" id="collapse-{{forloop.index}}" aria-labelledby="card-{{forloop.index}}" data-parent="#accordion">
              <div class="card-body p-0">
                {%- for sublink in link.links -%}
                  <div class="accordion-inner d-flex flex-wrap py-2 border-bottom">
                    <div style="width: 45px;" class="ml-3 border-right">{{index_out}}.{{index_in}}</div>
                    <div class="col pr-3">
                      <a href="{{sublink.url}}">{{sublink.text}}</a>
                    </div>
                  </div>
                  {% assign index_in = index_in | plus: 1 %}
                {%- endfor -%}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{%- comment %}
  <style media="screen">
    /*accordion-1 styles */
    .accordion-inner:nth-of-type(odd) {background-color: #ffffff;}
    .accordion-inner:nth-of-type(even) {background-color: #f3f3f3;}
    .btn-arrow > .arrow-icon {transform: rotate(90deg); transition: all .2s ease;}
    .btn-arrow.collapsed > .arrow-icon {transform: rotate(0)}
  </style>
{% endcomment -%}
