{%- comment %}
Blog Übersicht
class: blog-overview

{% endcomment -%}

<div class="blog-overview container py-5">
  <div class="row">
    {%- for page in website.pages -%}
      {%- if page.kind == 'blog_article' -%}
      <div class="col-md-4 p-3">
          <div class="card shadow h-100" style="border-radius: 1rem;">
            <a href="{{page.path}}">
              <img class="card-img-top cld-responsive" data-src="{{page.sections[0].blocks[0].settings.src}}" src="{{page.sections[0].blocks[0].settings.src}}" alt="{{page.sections[0].blocks[0].settings.alt}}" style="border-radius: 1rem 1rem 0 0;">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{page.title}}</h5>
              <p class="card-text">{{page.description}}</p>
              <a href="{{page.path}}" class="btn btn-primary">Lesen</a>
            </div>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
