{%- comment %}

Banner 10
class: banner-10

Section:
- text.plain (heading)
- image (bg-image)
- html-snippet (bg-color)

Each column:
position 10: image (logo) [opt]
position 20: text.plain (quote)
position 30: image (person-pic) [opt]
position 40: text.plain (person-name)
position 50: text.plain (person-position) [opt]

{% endcomment -%}


{% assign section_style = "background-color: #eee;" %}


{% for block in section.blocks %}

{%- case block.block_type -%}

{%- when 'html' -%}

{% assign section_style = section_style | append: ' ' | append: block.settings.html %}
{% assign section_style = section_style | strip_html | strip_newline | remove: ' ' %}


{%- when 'text' -%}

{%- assign heading_3 = block.settings.plain -%}


{%- when 'image' -%}

{% assign section_style = section_style | append: "background-image: url('" | append: block.settings.src | append:"');" %}


{%- endcase -%}

{% endfor %}


<div class="collection-5 container-fluid py-5 my-5" style="{{style_bgimg}}">
  <div class="row">

    <div class="container">
      <div class="row">

        {% if heading_3 %}

        <div class="w-100">
          <h2 class="m-2 text-center">
            {{ section.blocks[section_blocks_index].settings.plain }}
          </h2>
        </div>

        {% endif %}


        {% for col in section.columns %}

        <div class="col-12 col-md-4">

          <div class="w-100 my-2 px-2 d-flex flex-column" style="box-shadow: 3px 3px 9px rgb(187, 201, 213); border-radius: 2px; background-color: white;">

            {% assign col_blocks_index = 0 %}
            {% if col.blocks[col_blocks_index].block_type == "image" %}
            {% assign block = col.blocks[col_blocks_index] %}
            <div class="w-100 text-center">
              <img class="w-100 img-fluid cld-responsive" data-src="{{block.settings.src}}" src="{{block.settings.src}}" alt="{{block.settings.name}}" title="{{block.settings.description}}">
            </div>
            {% assign col_blocks_index = col_blocks_index | plus: 1 %}
            {% endif %}

            <div class="m-4 position-relative">
              <blockquote class="is-hyphenated font-italic">
                {{col.blocks[col_blocks_index].settings.plain}}
              </blockquote>
            </div>

            {% assign col_blocks_index = col_blocks_index | plus: 1 %}

            <div class="d-flex m-4 mt-1">
              <div class="w-25 my-2">

                {% if col.blocks[col_blocks_index].block_type == "image" %}
                {% assign block = col.blocks[col_blocks_index] %}
                <img class="w-100 img-fluid cld-responsive" data-src="{{block.settings.src}}" src="{{block.settings.src}}" style="border-radius: 50% !important;" alt="{{block.settings.name}}"
                  title="{{block.settings.description}}">
                {% assign col_blocks_index = col_blocks_index | plus: 1 %}
                {% endif %}
              </div>

              <div class="w-75 d-flex flex-column justify-content-center">
                <div class="">
                  {{col.blocks[col_blocks_index].settings.plain}}
                </div>
                {% assign col_blocks_index = col_blocks_index | plus: 1 %}

                {% if col.blocks[col_blocks_index].block_type == "text" %}
                <div class="font-italic">
                  {{col.blocks[col_blocks_index].settings.plain}}
                </div>

                {% endif %}

              </div>

            </div>

          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</div>