{%- comment %}
  Kollektion 3
  class: collection-3

  Section:
    - text.plain (heading)
    - html-snipped (bg-color)

  Each column:
    position 10: image  
    position 20: html

{% endcomment -%}



{% for block in section.blocks %}

  {%- case block.block_type -%}

  {%- when 'html' -%}

  {% assign section_style = section_style | append: ' ' | append: block.settings.html %}
  {% assign section_style = section_style | strip_html | strip_newline | remove: ' ' %}

  {%- when 'text' -%}

  {%- assign heading_3 = block.settings.plain -%}

  {%- endcase -%}

{% endfor %}

<div class="container-fluid collection-3 {{section_style}}">
  <div class="row">
    <div class="container my-5 py-4">

      {% if heading_3 %}
      <h2 class="text-center mb-4">
        {{ heading_3 }}
      </h2>
      {% endif %}

      <div class="row">

        {% for column in section.columns %}

        <div class="position-relative col col-md-6 col-lg-4 my-2 px-1">
          <a href="{{column.blocks[0].link.src}}" title="{{ column.blocks[0].link.title}}">
            <div style="background-image:url('{{column.blocks[0].settings.src}}'); background-repeat:no-repeat; background-size:cover; background-color:rgb(200,200,255); height: 240px;">
              <div class="position-absolute m-0 py-2 px-3" style="background-color:rgba(0,0,20,0.8); height: 40%; width: 95%; bottom: 0; left: 50%; transform: translate(-50%, 0);">
                <div class="mt-3 mt-md-2 mx-2 is-hyphenated text-center text-light">
                  {{column.blocks[1].settings.html}}
                </div>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}

      </div>

    </div>
  </div>
</div>