{%- comment %}
Kollektion-2
class: collection-2

Section:
  pos 1: text.plain [opt]
  - image [link](icon)

{% endcomment -%}

{%- if section.blocks[0].block_type == 'text' -%}
  {% assign offset_var = 1 %}
  {% capture heading %}
    <h2 class="text-center pb-3">{{section.blocks[0].settings.plain}}</h2>
  {% endcapture %}
{%- else -%}
  {% assign offset_var = 0 %}
{%- endif -%}

<div class="collection-2 py-5">
  {{heading}}
  <div class="container d-flex justify-content-center">
    {%- for block in section.blocks | offset: offset_var -%}
      {%- if block.block_type == 'image' -%}
        <div class="col-2 col-md-1 text-center">
          {%- if block.settings.url -%}
            <a href="{{block.settings.url}}" target="_blank" rel="noopener noreferrer" {% if block.settings.title %}title="{{block.settings.title}}"{% endif %}>
              <img class="inject-me" src="{{ block.settings.src_svg }}.svg" alt="{{ block.settings.alt }}" style="width: 2.5rem; height: 2.5rem">
            </a>
            {%- else -%}
            <img class="inject-me" src="{{ block.settings.src_svg }}.svg" alt="{{ block.settings.alt }}" style="width: 2.5rem; height: 2.5rem">
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
