{%- comment %}
Kollektion 1
class: collection-1

Blocks before first image (or form):
- text.plain (heading)
- html-snippet (section_style)

Blocks from first image onwards become seperate columns:
- image
- html-snippet
- text
{% endcomment -%}


{%- assign block_index_offset = 0 -%}

{% for block in section.blocks %}

{%- case block.block_type -%}

{%- when 'html' -%}

{% assign section_style = section_style | append: ' ' | append: block.settings.html %}
{% assign section_style = section_style | strip_html | strip_newline | remove: ' ' %}

{%- when 'text' -%}

{%- assign heading_3 = block.settings.plain -%}

{% else %}

{%- assign block_index_offset = forloop.index0 -%}
{% break %}

{%- endcase -%}

{% endfor %}


<div class="container-fluid collection-1" style="{{section_style}}">
  <div class="row">
    <div class="container">

      <div class="row">
        {% if heading_3 %}
        <div class="col-12 col-md text-center d-flex flex-column justify-content-center">
          <h2 class="h3">
            {{ heading_3 }}
          </h2>
        </div>

        {% endif %}

        {% for block in section.blocks offset: block_index_offset %}

        {%- case block.block_type -%}

        {%- when 'image' -%}
        <div class="col p-2 text-center">
          <img class="img-fluid cld-responsive" data-src="{{block.settings.src}}" src="{{block.settings.src}}" alt="{{block.settings.name}}" title="{{block.settings.description}}">
        </div>

        {%- when 'html' -%}
        <div class="col p-2 text-center d-flex flex-column justify-content-center">
          <div>
            {{block.settings.html}}
          </div>
        </div>

        {%- when 'text' -%}
        <div class="col p-2 text-center d-flex flex-column justify-content-center">
          <div>
            {{block.settings.html}}
          </div>
        </div>

        {%- endcase -%}

        {% endfor %}

      </div>

    </div>
  </div>
</div>