{%- comment %}
Kollektion 4
class: collection-4

  position 1: text.plain (h2) [opt]
  afterwards: image (logo)
{% endcomment -%}

{%- comment %}

{% endcomment -%}

{%- if section.blocks[0].block_type == 'text' -%}
  {% assign loop_offset = 1 %}
{%- else -%}
  {% assign loop_offset = 0 %}
{%- endif -%}

<section class="collection-4 container my-5 pt-3">
  {% if section.blocks[0].block_type == 'text' %}
    <header>
      <h2 class="text-center mb-3">
        {{ section.blocks[0].settings.plain }}
      </h2>
    </header>
  {% endif %}
  <main>
    <div class="row align-items-center">
      {% for block in section.blocks | offset: loop_offset %}
        <div class="col-6 col-md-4 mb-4">
          <div class="px-3">
            <img class="w-100 cld-responsive" data-src="{{ block.settings.src }}" src="{{ block.settings.src }}" alt="{{ block.settings.alt }}">
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
</section>
