{%- comment %}
Textkomponente-1
class: text-component-1

Section:
  - text.html
{% endcomment -%}

<div class="text-component-1 container my-3">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      {%- for block in section.blocks -%}
        {{ block.settings.html }}
      {%- endfor -%}
    </div>
  </div>
</div>
