<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">

  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="">
  <link rel="canonical" href="">

  <meta property="og:type" content="website">
  <meta property="og:url" content="{{website.primary_domain}}">
  <meta property="og:title" content="{{website.title}}">

  <meta property="og:description" content="{{website.description}}">
  <meta property="og:site_name" content="">
  <meta property="og:locale" content="de_DE">

  <style>
    /* Simple CSS solution to open Bootstraps drop down menus on hover.
  See script in HTML-head for JS part.
  https://stackoverflow.com/a/42183824 */

    .dropdown:hover>.dropdown-menu {
      display: block;
    }

    body {
      font-family: lato;

    }

    /* Custom CSS for navigation bar*/

    .header-1 {
      background-color: rgb(250, 250, 250);
    }

    .header-1 a,
    .header-1 span {
      line-height: 2rem;
      color: rgba(66, 66, 66, 0.8) !important;
      transition: 0.3s ease-in-out;
    }

    .header-1 a:hover,
    .header-1 span:hover {
      color: rgba(66, 66, 66, 1) !important;
      transition: 0.3s ease-in-out;
    }

    .header-1 a.on-page {
      font-weight: bold !important;
    }

    .header-1 a.btn {
      color: white !important;
    }

    .header-1 #toggler {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(235, 172, 92, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .header-1 nav .navbar-toggler {
      border: 2px solid rgba(66, 66, 66, 0.8);
      transition: 0.3s ease;
    }

    .header-1 nav .navbar-toggler:hover {
      box-shadow: 0.2rem 0.2rem 0.4rem rgba(black, 0.7);
      background-color: rgba(white, 0.2);
      transition: 0.3s ease;
    }

    .header-1 .js-navbar-fixed-top {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
      background-color: rgba(250, 250, 250, 0.94);
      box-shadow: 0 0.4rem 0.4rem rgba(black, 0.5);
      transition: 0.7s ease-in-out;
    }

    .header-1 .navbar-nav .nav-item {
      font-size: 1rem;
      box-shadow: inset rgba(66, 66, 66, 0) 3px 0 0;
      transition: 0.3s ease-in-out;
    }

    .header-1 .navbar-nav .nav-item.on-page {
      box-shadow: inset rgba(66, 66, 66, .8) 3px 0 0;
      transition: 0.3s ease-in-out;
    }

    .header-1 .navbar-nav .nav-item:hover {
      box-shadow: inset rgba(66, 66, 66, 1) 3px 0 0;
      transition: 0.3s ease-in-out;
    }

    .header-1 .navbar-nav .nav-item .nav-link {
      color: rgba(66, 66, 66, 0.8) !important;
      transition: 0.3s ease-in-out;
    }

    .header-1 .navbar-nav .nav-item .nav-link:hover {
      color: rgba(66, 66, 66, 1) !important;
      transition: 0.3s ease-in-out;
    }

    .header-1 .navbar-brand {
      max-width: 70%;
    }

    .header-1 .navbar-nav .dropdown-menu {
      background-color: transparent;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    .header-1 .navbar-nav .dropdown-menu .dropdown-item {
      padding-left: 0.75rem;
      color: rgba(66, 66, 66, 0.8) !important;
      box-shadow: inset rgba(66, 66, 66, 0) 3px 0 0;
      transition: 0.3s ease-in-out;
    }

    .header-1 .navbar-nav .dropdown-menu .dropdown-item.on-page {
      box-shadow: inset rgba(66, 66, 66, 1) 3px 0 0 !important;
    }

    .header-1 .navbar-nav .dropdown-menu .dropdown-item:hover {
      background-color: transparent;
      color: rgba(66, 66, 66, 1) !important;
      box-shadow: inset rgba(66, 66, 66, 1) 3px 0 0;
      transition: 0.3s ease-in-out;
    }

    .header-1 .navbar-nav .dropdown-menu.show {
      box-shadow: none;
    }

    #phone-item>a {
      color: rgba(66, 66, 66, 0.8) !important;
    }

    #phone-item>a:hover {
      color: rgba(66, 66, 66, 1) !important;
    }

    #phone-item svg {
      width: 1rem;
      fill: rgba(66, 66, 66, 0.8);
    }

    blockquote:before,
    blockquote:after {
      position: absolute;
      color: #e89d3f;
      font-weight: bold;
      font-size: 1.8rem;
    }

    blockquote:before {
      left: -1.4rem;
      top: -.7rem;
      content: open-quote;
    }

    blockquote:after {
      bottom: .2rem;
      margin-left: .5rem;
      content: close-quote;
    }

    @media (min-width: 992px) {
      .header-1 .navbar-nav .nav-item {
        box-shadow: inset rgba(66, 66, 66, 0) 0 -3px 0;
      }

      .header-1 .navbar-nav .nav-item.on-page {
        box-shadow: inset rgba(66, 66, 66, .8) 0 -3px 0;
      }

      .header-1 .navbar-nav .nav-item:hover {
        box-shadow: inset rgba(66, 66, 66, 1) 0 -3px 0;
      }

      .header-1 .navbar-brand {
        margin-left: -15px;
      }

    }

    @media (min-width: 768px) {
      .header-1 .navbar-nav .dropdown-menu {
        background-color: rgb(207, 216, 220);
        box-shadow: 0 0.1rem 0.4rem rgba(black, 0.7);
      }

      .header-1 .navbar-nav .dropdown-menu .dropdown-item:hover {
        background-color: rgb(250, 250, 250);
      }

      .header-1 .topper {
        padding-right: 0px !important;
      }
    }

    @media (min-width: 1200px) {

      blockquote:before,
      blockquote:after {
        font-size: 2.5rem;
      }

      blockquote:after {
        bottom: .4rem;
      }
    }

    /* Custom CSS for navigation bar*/

    .collection-3 svg {
      fill: white;
    }
  </style>

</head>

<body class="{{page_template.name}}--{{page.title}}">
  {{ content_for_layout }}
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg-injector/1.1.3/svg-injector.min.js" integrity="sha256-CjBlJvxqLCU2HMzFunTelZLFHCJdqgDoHi/qGJWdRJk="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.5.0/cloudinary-core-shrinkwrap.min.jsXXX"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.5.0/cloudinary-core-shrinkwrap.min.js.mapXXX"></script>

{{content_for_head}}

<script>
  /* Make SVG-files to inline SVGs for coloring */

  var mySVGsToInject = document.querySelectorAll('img.inject-me');
  SVGInjector(mySVGsToInject);

  /* Use cloudinary-core to determine which picture size is served by cloudinary */

  var cl = cloudinary.Cloudinary.new({
    cloud_name: "{{cloudinary_cloud_name}}"
  });
  cl.responsive();

  /* Custom JS for navigation bar */

  var headerFixed = (function () {

    var fixed = false;
    var phoneItemDisplayed = false;
    var nav = document.getElementById("nav");
    var minWidth = 992; // width from bootstrap4 (lg), Topper is not displayed
    var maxWidth = 992; // width from bootstrap4 (xl), Topper is not displayed
    var phoneItem = document.getElementById("phone-item");
    var phoneItemDivider = document.getElementById("phone-item-divider");

    return {
      navbarDisplay: function () {

        var navPosTop = nav.offsetTop;
        var scrollTop = window.pageYOffset;
        var winWidth = window.innerWidth;

        if (fixed == false && scrollTop > navPosTop) {
          document.getElementById("nav").classList.add("js-navbar-fixed-top");
          fixed = true;

        } else if (fixed == true && scrollTop <= navPosTop) {
          document.getElementById("nav").classList.remove("js-navbar-fixed-top");
          fixed = false;
        }

        if (phoneItemDisplayed == true && (winWidth >= maxWidth || (fixed == false && winWidth >= minWidth))) {
          phoneItem.style.setProperty("display", "none", "important");
          phoneItemDivider.style.setProperty("display", "none", "important");
          phoneItemDisplayed = false;

        } else if (phoneItemDisplayed == false && (winWidth <= minWidth || (fixed == true && winWidth < maxWidth))) {
          phoneItem.style.setProperty("display", "block", "important");
          phoneItemDivider.style.setProperty("display", "block", "important");
          phoneItemDisplayed = true;
        }
      }
    };

  })();

  /* Custom JS for section banner-10 : Numbers counting up on scroll into view */

  var numberCounter = (function () {

    // Constants //
    var fps = 50;
    var counterTotalTime = 4000;
    var counterDelay = 400;
    var k = .1;

    var counterSteps = Math.round(counterTotalTime / fps);
    var counterIntervalTime = Math.round(1000 / fps);
    var counterStep = 0;
    var intervalID = 0;

    var countStarted = false;
    var countFinished = false;
    var counterElements = Array.prototype.slice.call(document.getElementsByClassName("js-count-up"));
    var counterElementPosTop;
    var counterElementHeight;

    var counterElementsIncrement = [];
    var counterElementsMax = [];
    var counterElementsCurrentNumber = [];

    return {

      setCounterElements: function () {

        if (counterElements.length === 0) {
          return;
        }

        counterElementPosTop = this.getElementOffset(counterElements[0]).top;
        counterElementHeight = counterElements[0].clientHeight;
        countStarted = false;
        countFinished = false;
        counterElements.forEach(function (elem) {
          var elemNumber = parseInt(elem.innerHTML);

          if (isNaN(elemNumber)) {
            counterElementsIncrement.push(0);
            counterElementsMax.push(0);
            counterElementsCurrentNumber.push(0);

          } else {
            counterElementsMax.push(elemNumber);
            counterElementsIncrement.push(elemNumber / counterSteps);
            elem.innerHTML = 0;
            counterElementsCurrentNumber.push(0);

          }
        });
      },

      checkIfCounterViewable: function () {

        function incrementCounter() {
          counterStep += 1;

          for (var i = 0; i < counterElements.length; i++) {

            if (counterElementsIncrement[i] != 0) {
              counterElementsCurrentNumber[i] = counterElementsIncrement[i] * counterStep;
              counterElements[i].innerHTML = Math.round(counterElementsCurrentNumber[i]);
            }
          }

          if (counterStep >= counterSteps) {
            countFinished = true;
            window.clearInterval(intervalID);
          }

        };

        function resetCounterElements() {
          countStarted = false;
          countFinished = false;
          for (var i = 0; i < counterElementsCurrentNumber.length; i++) {
            counterElements[i].innerHTML = "0";
            counterElementsCurrentNumber[i] = 0;
          }
        };

        var scrollTop = window.pageYOffset;

        if (countStarted === false) {

          if ((scrollTop + window.innerHeight) > (counterElementPosTop + counterElementHeight / 2)) {

            countStarted = true;
            counterStep = 0;
            window.setTimeout(function () {
              intervalID = window.setInterval(incrementCounter, counterIntervalTime);
            }, counterDelay);

          }

        } else if (countFinished === true) {
          counterElementPosTop = this.getElementOffset(counterElements[0]).top;

          if ((scrollTop + window.innerHeight) < (counterElementPosTop + counterElementHeight / 2)) {
            resetCounterElements();
          }
        }
      },

      getElementOffset: function (el) {
        let top = 0;
        let left = 0;
        let element = el;

        // Loop through the DOM tree
        // and add it's parent's offset to get page offset
        do {
          top += element.offsetTop || 0;
          left += element.offsetLeft || 0;
          element = element.offsetParent;
        } while (element);

        return {
          top: top,
          left: left
        };
      }
    }

  })();

  /* Event handlers */

  window.onscroll = function () {
    headerFixed.navbarDisplay();
    numberCounter.checkIfCounterViewable();
  };

  window.onresize = function () {
    headerFixed.navbarDisplay();
    numberCounter.checkIfCounterViewable();
  };
</script>

</html>