{%- comment %}

Banner 10
class: banner-10

Section:
- text.plain (heading)
- image (bg-image)
- html-snippet (bg-color)

Each column:
position 10: image (logo)
position 20: text.plain (number!)
position 30: text.plain

Needs svg-injector and CSS to work:

<script src="https://cdnjs.cloudflare.com/ajax/libs/svg-injector/1.1.3/svg-injector.min.js" integrity="sha256-CjBlJvxqLCU2HMzFunTelZLFHCJdqgDoHi/qGJWdRJk="
  crossorigin="anonymous"></script>
<script type="text/javascript">
  var mySVGsToInject = document.querySelectorAll('img.inject-me');
  SVGInjector(mySVGsToInject);
</script>

<style>
  .collection-3 svg path {
    fill: white;
  }
</style>

{% endcomment -%}


{% for block in section.blocks %}

{%- case block.block_type -%}

{%- when 'html' -%}

{% assign section_style = section_style | append: ' ' | append: block.settings.html %}
{% assign section_style = section_style | strip_html | strip_newline | remove: ' ' %}


{%- when 'text' -%}

{%- assign heading_3 = block.settings.plain -%}


{%- when 'image' -%}

{% assign section_style = section_style | append: "background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('" | append: block.settings.src | append:"');" %}


{%- endcase -%}

{% endfor %}


<div class="container-fluid banner-10 collection-3 py-5 mb-5 text-white text-center" style="background-repeat: no-repeat; background-size: cover; {{section_style}}">
  <div class="row">
    <div class="container py-2 py-md-5">
      <div class="row">

        {% for column in section.columns %}

        <div class="col px-2">

          <div class="pt-2">
            <img class="inject-me px-0" src="{{ column.blocks[0].settings.src_svg }}.svg" alt="{{ column.blocks[0].settings.alt }}"
              style="width: 3rem; height: 3rem">
          </div>
          <div class="h1 pt-3 pb-1 font-weight-bold js-count-up">
            {{column.blocks[1].settings.plain}}
          </div>
          <div class="h6 font-weight-light">
            {{column.blocks[2].settings.plain}}
          </div>

        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</div>