{%- comment %}

Banner 1
class: banner-1

Blocks before first text (or form):
- text.plain (heading)
- html-snippet (section_style)

Blocks from first text onwards:
- text
- html-snippet (cta-btn)


Custom styled cta-button:
<a href="/kontakt" class="btn col-primary btn-lg btn-outline-primary ml-5">
  Kontakt
</a>

{% endcomment -%}


{% for block in section.blocks %}

{%- case block.block_type -%}

{%- when 'html' -%}

{% assign section_style = section_style | append: ' ' | append: block.settings.html %}
{% assign section_style = section_style | strip_html | strip_newline | remove: ' ' %}


{%- when 'image' -%}

{% assign section_style = section_style | append: "background-image: url('" | append: block.settings.src |
append:"');"%}


{%- else -%}

{% assign section_blocks_offset = forloop.index0 %}
{% break %}


{%- endcase -%}

{% endfor %}


<div class="container-fluid banner-1 bg-dark my-3 py-5 d-flex justify-content-center" style="{{style_bgimg}}">
  <div class="text-light d-flex flex-row">

    {% for block in section.blocks offset: section_blocks_offset %}

    {%- case block.block_type -%}

    {%- when 'text' -%}

    <h2 class="h3 mr-5 mb-0 pt-1">
      {{block.settings.plain}}
    </h2>


    {%- when 'html' -%}

    {{block.settings.html}}


    {%- endcase -%}

    {% endfor %}

  </div>
</div>