{%- comment %}
Submit Button Hack:
- Create form_field: 'input'
- The name has to be: 'submit'
- The Label will be used as value
- Put at the end
{% endcomment -%}

<form class="" action="{{ form_action }}" method="post">
  {{ hidden_page_field }}
  {{ hidden_csrf_field }}

  {% for form_field in form.form_fields %}
    {% if form_field.field_type == 'input' %}
      {%- if form_field.name == 'submit' -%}
        <div>
          <input type="submit" value="{{form_field.label}}" class="btn btn-lg btn-outline-primary mt-3 w-100"></input>
        </div>
      {%- else -%}
        <div class="form-group">
          <label for="{{ form_field.name }}">{{ form_field.label }} <span class="text-danger">*</span></label>
          <input type="{{ form_field.type }}" class="form-control" id="{{ form_field.name | replace: ' ', '_' }}" name="{{ form_field.name }}" aria-describedby="{{ form_field.name }}" required>
        </div>
      {%- endif -%}

    {% elsif form_field.field_type == 'select_tag' %}

  <div class="form-group">
    <label for="{{form_field.name_as_id | replace: ' ', '_'}}">
      {{form_field.label}}
    </label>
    <select class="form-control" name="{{form_field.name}}" id="{{form_field.name_as_id | replace: ' ', '_'}}">
      {% for select_option in form_field.select_options %}
      <option value="{{select_option}}">{{select_option}}</option>
      {% endfor %}
    </select>
  </div>

    {% elsif form_field.field_type == 'textarea' %}
    <div class="form-group">
      <label for="message">{{ form_field.name }}<small class="text-muted">(optional)</small></label>
      <textarea class="form-control" id="{{form_field.name_as_id | replace: ' ', '_'}}  required" name="{{ form_field.name }}" aria-describedby="{{ form_field.name }}" rows="3"></textarea>
    </div>
    {% endif %}
  {% endfor %}
 </form>
