{%- comment %}
	This is Section Form
  Column 1:
  pos1 (ungerade zahlen): [bild] icon
  pos2 (gerade zahlen): [text] text.html (kann link enthalten)

  Column 2:
  Form (input/select/textfield)

  Column 3:
  pos1: [bild] description wird als capture benutzt

  Submit Button Hack:
  - Create form_field: 'input'
  - The name has to be: 'submit'
  - The Label will be used as value
  - Put at the end
{% endcomment -%}

<div class="form-1 container-fluid bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4 py-5">
        {%- for block in section.columns[0].blocks -%}
          {%- case block.block_type -%}
          {%- when 'image' -%}
            <div class="h5 pt-2 d-flex flex-wrap align-items-center">
              <img class="inject-me col-2 px-0" src="{{ block.settings.src_svg }}.svg" alt="{{ block.settings.alt }}" style="width: 2rem; height: 2rem">
              {%- when 'text' -%}
                <div class="flex-1">
                  {{ block.settings.html }}
              </div>
            </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>

      {%- comment %} Form Reendering happens here {% endcomment -%}
      <div class="col-lg-4 px-5 border-left border-right">
        {%- for block in section.columns[1].blocks -%}
          {%- if block.block_type == 'form' -%}
          {{ block.settings.form }}
          {%- endif -%}
        {%- endfor -%}
      </div>

      <div class="col-lg-4 my-5 px-5">
        {%- for block in section.columns[2].blocks -%}
          {%- if block.block_type == 'image' -%}
            <figure>
              <img class="rounded-circle img-fluid mx-auto d-block" class="cld-responsive" data-src="{{ block.settings.src }}" src="{{ block.settings.src }}" alt="{{ block.settings.src }}">
              <figcaption class="text-center mt-4">{{ block.settings.caption }}</figcaption>
            </figure>
            {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
