{%- comment %}
Formular-2
class: form-2

Section:
- text.html
- form

{% endcomment -%}

<div class="form-2 container">
  {%- for block in section.blocks -%}
    {%- case block.block_type -%}
      {%- when 'text' -%}
        {{block.settings.html}}
      {%- when 'form' -%}
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto mt-3 mb-5">
          {{ block.settings.form }}
        </div>
      </div>
    {%- endcase -%}
  {%- endfor -%}
</div>
