{%- comment %}
	How to work with SVGs
{% endcomment -%}

<img class="inject-me" src="{{ block.settings.src_svg }}.svg" alt="{{ block.settings.alt }}" style="width: 2rem; height: 2rem">

{%- comment %}
	Include this in the scripts
{% endcomment -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg-injector/1.1.3/svg-injector.min.js" integrity="sha256-CjBlJvxqLCU2HMzFunTelZLFHCJdqgDoHi/qGJWdRJk=" crossorigin="anonymous"></script>
<script>
var mySVGsToInject = document.querySelectorAll('img.inject-me');
SVGInjector(mySVGsToInject);
</script>
