{%- comment -%}
Medienkomponente-4
class: media-component-4

  position 1: text.plain (if heading) [opt]
  else
  position 1: image
  afterwards
  [allways image and text alternating]

  Uses custom css classes!
  <style>
  .flex-alternate-row:nth-of-type(odd) {flex-direction: row;}
  .flex-alternate-row:nth-of-type(even) {flex-direction: row-reverse;}
  </style>
{%- endcomment -%}

{% assign section_blocks_offset = 0 %}
{%- assign index = 1 -%}



{% if section.blocks[0].block_type == "text" %}
  {% capture heading %}
  <h2 class="text-center mt-3 mb-5">
    {{ section.blocks[0].settings.plain }}
  </h2>
  {% endcapture %}
  {% assign section_blocks_offset = section_blocks_offset | plus: 1 %}
{% endif %}

<div class="media-component-4 container my-5">

  {{ heading }}

  {% for block in section.blocks offset: section_blocks_offset %}
    {%- if block.block_type == 'image' -%}
    <div class="flex-alternate-row justify-content-center row position-relative">
    {%- endif -%}

    {% assign remainder = forloop.index | modulo:2 %}
      {%- if remainder == 0 -%}
        <span class="position-absolute pt-2 rounded-circle bg-primary text-white text-center m-0 number-circle d-none d-md-block" style="
        width: 3rem;
        height: 3rem;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        font-size: 1.2rem;
        z-index: 500;
        line-height: 1.5;
        ">
        {%- if block.block_type == "text" and first != "text" -%}
          {{ index }}
          {% assign index = index | plus: 1 %}
        {%- endif -%}
        </span>
      {%- endif -%}

      {%- if block.block_type == 'text' -%}
        <div class="pl-0 text-center col-md-6 px-0 position-relative">

            <div class="mx-3 py-3 mx-md-5 text-center d-flex align-items-center h-100">
              <div>
                {{ block.settings.html }}
              </div>
            </div>
          </div>
        {%- endif -%}

      {%- if block.block_type == 'image' -%}
        <div class="col-md-6 px-0">
          <img class="img-fluid cld-responsive" data-src="{{ block.settings.src }}" src="{{ block.settings.src }}" alt="{{ block.settings.alt }}">
        </div>
      {%- endif -%}

      {%- if block.block_type == 'text' and block != first  -%}
      </div>
      {%- endif -%}
    {% endfor %}
  </div>
</div>
