{%- comment %}
  Medienkomponente-6
  class: media-component-6

  Section: (left column)
  - text.html creates text
  - image creates small round image, the image description generates the text (figcaption) on the right

  Column: (only one!)
  - text.html: creates text
  - image: creates logos
  - html-snipped: creates button

  Button:
  <a href="LINK" class="btn btn-primary btn-lg">TEXT</a>
{% endcomment -%}

<div class="media-component-6 container py-3">
  <div class="row">
    <div class="col-md-6 py-3">
      {%- for block in section.blocks -%}
        {% case block.block_type %}
        {% when 'text' %}
          {{ block.settings.html }}
        {% when 'image' %}
            <figure class="d-flex align-items-center">
              <img class="rounded-circle mr-3 cld-responsive" data-src="{{ block.settings.src }}" src="{{ block.settings.src }}" alt="{{ block.settings.alt }}" style="width: 50px;">
              <figcaption class="font-italic small">{{ block.settings.caption }}</figcaption>
            </figure>
        {% endcase %}
      {%- endfor -%}
    </div>

    <div class="col-md-6 py-3">
      <div class="text-center pb-3">
        {{ section.columns[0].blocks[0].settings.html }}
      </div>
      <div class="d-flex flex-wrap">

        {%- for block in section.columns[0].blocks | offset: 1 -%}
          {%- if block.block_type == 'image' -%}
          <div class="text-center my-3 w-100 col-6" style="max-height: 60px;">
            <img class="text-center w-100 cld-responsive" data-src="{{ block.settings.src }}" src="{{ block.settings.src }}" alt="{{ block.settings.alt }}" style="max-width:100%; max-height:100%;">
          </div>
          {%- elsif block.block_type == 'html' -%}
            <div class="text-center col-12 mt-3">
              {{block.settings.html}}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
