{%- comment %}
  Medienkomponente 8
  class: media-component-8

  Section:
  - text.plain (heading)
  - image (bg-image)
  - html-snipped (bg-color)

  This section has two columns
  Column 1:
  Always [img (icon.svg)] / [text.html] alternating

  Column 2:
  [img]
{% endcomment -%}

{%- for block in section.blocks -%}
  {%- case block.block_type -%}
    {%- when 'image' -%}
      {% capture bg_image %}
        background: linear-gradient(to left, rgba(0,0,0,.4), rgba(0,0,0,.4)), url({{block.settings.src}});
        background-size: cover;
        background-repeat: no-repeat;
      {% endcapture %}
    {%- when 'html' -%}
      {%- capture bg_color -%}
        {{block.settings.html}}
      {%- endcapture -%}
    {%- when 'text' -%}
      {% capture heading %}
        <h2 class="text-center mb-4">{{block.settings.plain}}</h2>
      {%- endcapture -%}
  {%- endcase -%}
{%- endfor -%}

<div class="media-component-8 container-fluid px-3 py-5" style="{{bg_image}}{{bg_color}}">
  <div class="container">
    {{heading}}
    <div class="row align-items-center text-dark">
      <div class="col-md-6 mt-3">
        <div class="row">
        {%- for block in section.columns[0].blocks -%}
          {%- case block.block_type -%}
            {%- when 'image' -%}
              <div class="col-2 py-2">
                <img class="inject-me h-100" src="{{ block.settings.src_svg }}.svg" alt="{{ block.settings.alt }}" style="width: 4.5rem; height: 4.5rem;">
              </div>
            {%- when 'text' -%}
              <div class="col-10 pl-3 py-2">
                {{block.settings.html}}
              </div>
          {%- endcase -%}
        {%- endfor -%}
        </div>
      </div>

      <div class="col-md-6 d-flex aling-items-center mt-3">
        {%- for block in section.columns[1].blocks -%}
          {%- case block.block_type -%}
            {%- when 'image' -%}
              <div>
                <img class="img-fluid cld-responsive" data-src="{{block.settings.src}}" src="{{block.settings.src}}" alt="{{block.settings.src}}">
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
