{%- comment %}
Medienkomponente-5
class: media-component-5

Section:
-text.plain (heading)
-image (background)

Columns:
pos 10: [text.plain] (heading) not optional!
pos 20: [image] (icon/svg) [opt]
- [text.html] (content)

needs svg-injector to work!
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg-injector/1.1.3/svg-injector.min.js" integrity="sha256-CjBlJvxqLCU2HMzFunTelZLFHCJdqgDoHi/qGJWdRJk=" crossorigin="anonymous"></script>
<script type="text/javascript">
var mySVGsToInject = document.querySelectorAll('img.inject-me');
SVGInjector(mySVGsToInject);
</script>
{% endcomment -%}

{%- for block in section.blocks -%}
  {%- if block.block_type == 'image' -%}
    {% capture bg_image %}
    style="background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url({{ block.settings.src }});
    background-repeat: no-repeat;
    background-size: cover;"
    {% endcapture %}
  {%- elsif block.block_type == 'text' -%}
    {% capture heading %}
    <h2 class="text-center text-white">
      {{ block.settings.plain }}
    </h2>
    {% endcapture %}
  {%- endif -%}
{%- endfor -%}

<div class="media-component-5 container-fluid py-5" {{ bg_image }} >
  {{ heading }}
  <div class="container">
    <div class="row">
      {%- for col in section.columns -%}
        <div class="col-12 col-md my-3 mx-md-3 py-3 bg-dark text-white">
          <div class="clearfix">
            {%- if col.blocks[1].block_type == 'image' -%}
              <img class="inject-me float-left mr-3 mt-1 col-2 px-0" src="{{ col.blocks[1].settings.src_svg }}.svg" alt="{{ block.settings.alt }}" style="width: 2rem; height: 2rem">
            {%- endif -%}
            {%- if {col.blocks[0].block_type == 'text' -%}
              <h2 class="float-left">{{col.blocks[0].settings.plain}}</h2>
            {%- endif -%}
          </div>
          {%- for block in col.blocks | offset: 1 -%}
            {%- if block.block_type == 'text' -%}
              {{ block.settings.html }}
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
