{%- comment %}
Medienkomponente 9
class: media-component-9

Section:
- text (heading)
- html-snipped (bg-color)

Columns (50%/50%):
- text.html
- image
- html-snipped (bg-color of column)

This section uses custom classes!
<style>
  @media only screen and (max-width: 767px){
    .flex-alternate-column:nth-of-type(even) {flex-direction: column;}
    .flex-alternate-column:nth-of-type(odd) {flex-direction: column-reverse;}
  }
</style>
{% endcomment -%}


{%- for block in section.blocks -%}
  {%- case block.block_type -%}
    {%- when 'html' -%}
      {%- capture bg_color -%}
        {{block.settings.html}}
      {%- endcapture -%}
    {%- when 'text' -%}
      {% capture heading %}
        <h2 class="text-center mb-4">{{block.settings.plain}}</h2>
      {%- endcapture -%}
  {%- endcase -%}
{%- endfor -%}

<div class="media-component-9 container-fluid py-3" {%- if bg_color -%}style="{{bg_color}}"{%- endif -%}>
  {{heading}}
  <div class="container">
      {%- for col in section.columns -%}
        {% assign remainder = forloop.index | modulo: 2 %}
        {%- for block in col.blocks -%}
          {%- if block.block_type == 'html' -%}
            {% capture bg_color_col %}
              {{block.settings.html}}
            {% endcapture %}
          {%- else -%}
            {% assign bg_color_col = '' %}
          {%- endif -%}
        {%- endfor -%}

        {%- if remainder == 1 -%}
          <div class="flex-alternate-column row">
        {%- endif -%}

          <div class="col-md-6 p-4" style="{{bg_color_col}}">
            {%- for block in col.blocks -%}
              {%- case block.block_type -%}
                {%- when 'image' -%}
                  {%- if block.settings.url -%}
                    <a href="{{block.settings.url}}">
                      <img class="img-fluid cld-responsive" data-src="{{ block.settings.src }}" src="{{ block.settings.src }}" alt="{{ block.settings.alt }}">
                    </a>
                  {%- else -%}
                  <div class="d-flex align-items-center justify-content-center h-100">
                    <img class="img-fluid w-100 cld-responsive" data-src="{{ block.settings.src }}" src="{{ block.settings.src }}" alt="{{ block.settings.alt }}">
                  </div>
                  {% endif %}
                {%- when 'text' -%}
                <div class="d-flex flex-column justify-content-center h-100">
                  {{block.settings.html}}
                </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        {%- if remainder == 0 -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
  </div>
</div>
