{%- comment %}
	Medienkomponente 7
  class: media-component-7

  col1:
  - [text.html]
  - [html-snipped (btn)]

  col2:
  - [image]
  - [image with link] (opt)

  <!-- Buttons -->
  <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg">
    Konstenlose Buchauszüge anfordern
  </a>

  <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary btn-lg">
    Jetzt bestellen
  </a>
{% endcomment -%}

<div class="media-component-7 container py-5">
  <div class="row">
    <div class="col-lg-6">
      {%- for block in section.columns[0].blocks -%}
        {%- if block.block_type == 'text' -%}
          {{block.settings.html}}
        {%- endif -%}
      {%- endfor -%}

        <div>
          {%- for block in section.columns[0].blocks -%}
            {%- if block.block_type == 'html' -%}
                {{block.settings.html}}
            {%- endif -%}
          {%- endfor -%}
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row pt-3">
        {%- for block in section.columns[1].blocks -%}
          {%- if block.block_type == 'image' -%}
            <div class="col">
              {%- if block.link.url -%}
                <a href="{{block.link.url}}" target="_blank" rel="noopener noreferrer">
              {%- endif -%}
                <img class="img-fluid cld-responsive" data-src="{{block.settings.src}}" src="{{block.settings.src}}" alt="{{block.settings.alt}}">
              {%- if block.link.url -%}
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
