{%- comment %}
  Medienkomponente 2
  class: media-component-2

  Section: (position irrelevant)
    text.plain (h2)
    image (background)
    html-snipped (background-color)

  Columns: (pos irrelevant)(width important)
    text.html
    image (link)
    html-snipped (video/button/ect)
{% endcomment -%}

{%- for block in section.blocks -%}
  {%- case block.block_type -%}
    {%- when 'image' -%}
      {% capture bg_image %}
        background: linear-gradient(to left, rgba(0,0,0,.4), rgba(0,0,0,.4)), url({{block.settings.src}});
        background-size: cover;
        background-repeat: no-repeat;
      {% endcapture %}
    {%- when 'html' -%}
      {%- capture bg_color -%}
        {{block.settings.html}}
      {%- endcapture -%}
    {%- when 'text' -%}
      {% capture heading %}
        <h2 class="text-center mb-4">{{block.settings.plain}}</h2>
      {%- endcapture -%}
  {%- endcase -%}
{%- endfor -%}

<div class="media-component-2 container-fluid px-3 py-5" style="{{bg_image}}{{bg_color}}">
  <div class="container">
    {{heading}}
    <div class="row align-items-center text-dark">
      {%- for col in section.columns -%}
        {% case col.width %}
         {% when '1' %}
          {% assign colprop = 'col-md-12' %}
         {% when '3/4' %}
          {% assign colprop = 'col-md-9' %}
         {% when '2/3' %}
          {% assign colprop = 'col-md-8' %}
         {% when '1/2' %}
          {% assign colprop = 'col-md-6' %}
         {% when '1/3' %}
          {% assign colprop = 'col-md-4' %}
         {% when '1/4' %}
          {% assign colprop = 'col-md-3' %}
        {% endcase %}
        <div class="{{colprop}}">
          {%- for block in col.blocks -%}
            {%- case block.block_type -%}
              {%- when 'text' -%}
                <div class="p-3">
                  {{block.settings.html}}
                </div>
              {%- when 'image' -%}
                {%- if block.settings.url -%}
                  <a href="{{block.settings.url}}" {% if block.settings.title %}title="{{block.settings.title}}"{% endif %}>
                    <img class="img-fluid cld-responsive" data-src="{{ block.settings.src }}" src="{{ block.settings.src }}" alt="{{ block.settings.alt }}">
                  </a>
                  {%- else -%}
                  <img class="img-fluid cld-responsive" data-src="{{ block.settings.src }}" src="{{ block.settings.src }}" alt="{{ block.settings.alt }}">
                {%- endif -%}
              {%- when 'html' -%}
                {{block.settings.html}}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{%- comment %}
HTML-Snippet (bg):
  background: #ebac5c;
  background: -webkit-linear-gradient(to left, #ebac5c, #d86f1b);
  background: linear-gradient(to left, #ebac5c, #d86f1b);
{% endcomment -%}
