{%- comment -%}
  Medienkomponente 3
  class: media-componente-3

  position 1: text.plain (h3)
  position 2: text.html (p)
  position 3: html-snipped (button)
  position 4: image

  button:
  <a href=" LINK " class="btn btn-primary"> TEXT </a>
{%- endcomment -%}

<div class="media-component-3 container my-3">
  <div class="row">
    <div class="col-sm-6 d-flex align-items-center">
      <div class="my-3 text-center text-sm-left">
        <h3>
          {{ section.blocks[0].settings.plain }}
        </h3>
        {{ section.blocks[1].settings.html }}
        <div>
          {{ section.blocks[2].settings.html }}
        </div>
      </div>
    </div>
    <div class="col-sm-6 p-md-5 d-flex justify-content-center">
      <img style="max-width: 300px;" class="w-100 h-100 rounded-circle cld-responsive" data-src="{{ section.blocks[3].settings.src }}" src="{{ section.blocks[3].settings.src }}"  alt="{{ section.blocks[3].settings.alt }}">
    </div>
  </div>
</div>
