{%- comment %}
  Medienkomponente-1
  class: media-component-1
  #Image #Text

  position 1: text.plain (h2)
  position 2: image
  position 3: text.html (p)
{% endcomment -%}

<section class="media-component-1 container py-5 my-5">
  <div class="border">
    <div class="row p-3 p-sm-5">
      <div class="col-lg-4 text-center mb-3 mb-lg-0">
        <h2 class="mb-4">
          {{section.blocks[0].settings.plain}}
        </h2>
        <div class="d-flex justify-content-center">
          <div class="col-7 col-sm-5 col-lg-7">
            <img class="cld-responsive" data-src="{{section.blocks[1].settings.src}}" src="{{section.blocks[1].settings.src}}" alt="{{section.blocks[1].settings.alt}}" class="rounded-circle mx-auto d-block w-100">
          </div>
        </div>
      </div>
      <div class="col align-self-end">
        <p class="lead pt-md-4 mt-4">

          {% for block in section.blocks offset: 2 %}

            {% if block.block_type == "text" %}

              <div class="pb-2">
                {{block.settings.html }}
              </div>


            {% elsif block.block_type == "image" %}

              <div class="pb-2">
                <img class="img-fluid cld-responsive" data-src="{{block.settings.src}}" src="{{block.settings.src}}" alt="{{block.settings.name}}" title="{{block.settings.description}}">
              </div>

            {% endif %}

          {% endfor %}

        </p>
      </div>
    </div>
  </div>
</section>
