<div class="footer-1">

  <div class="footer-upper container-fluid py-5 bg-secondary text-white">
    <div class="row">
      <div class="container">
        <div class="row">

          {% for link in linklists.footer.links %}

          <div class="col-6 col-md">
            <h5>{{link.name}}</h5>
            <ul class="list-unstyled text-small">

              {% if link.name contains 'Kontakt' %}
              <li class="py-1">
                <address class="text-white-50 font-weight-light" style="line-height: 1.75;">
                  {{section.blocks[0].settings.plain}}
                </address>
              </li>
              {% endif %}


              {% for sublist_link in link.links %}

              {% if link.name contains "Kontakt" %}
              {% unless forloop.last %}
              <li class="py-1">
                <a class="text-white-50 font-weight-light" href="{% if sublist_link.text contains '@' %}mailto{% else %}tel{% endif %}:{{sublist_link.url}}"
                  title="{{sublist_link.title}}">
                  {{sublist_link.text}}
                </a>
              </li>
              {% endunless %}

              {% if forloop.last %}
              <li>
                <a class="btn btn-lg btn-outline-light mt-3" href="{{sublist_link.url}}" title="{{sublist_link.title}}">
                  {{sublist_link.text}}
                </a>
              </li>
              {% endif %}

              {% else %}
              {%- comment -%} link.name DOES NOT contain "Kontakt" {%- endcomment -%}
              <li class="py-1">
                <a class="text-white-50 font-weight-light" href="{{sublist_link.url}}" title="{{sublist_link.title}}">
                  {{sublist_link.text}}
                </a>
              </li>

              {% endif %}


              {% endfor %}

            </ul>
          </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>

  <div class="footer-lower bg-dark container-fluid">
    <div class="row">
      <div class="container py-3">
        <div class="row justify-content-center">
          <div class="col-8 col-sm-4 col-md-3 mt-2">

            {% if section.blocks[0].settings.link %}
            <a href="{{section.blocks[1].settings.link.url}}">
              <img class="mb-3" class="cld-responsive" data-src="{{section.blocks[1].settings.src}}" src="{{section.blocks[1].settings.src}}" alt="{{section.blocks[1].settings.alt}}">
            </a>

            {% else %}
            <div>
              <img class="mb-3" class="cld-responsive" data-src="{{section.blocks[1].settings.src}}" src="{{section.blocks[1].settings.src}}" alt="{{section.blocks[1].settings.alt}}">
            </div>
            {% endif %}

          </div>
          <div class="col-12 col-sm d-flex justify-content-center align-items-center">
            <div class="pl-3 pe-richsnippets"></div>
          </div>
          <div class="col-12 col-sm text-center text-sm-right text-small mt-3 mt-sm-0">
            <ul class="list-inline">
              <li class="list-inline-item px-md-3">
                <a class="text-white-50 font-weight-light" href="/impressum">Impressum</a></li>
              <li class="list-inline-item mr-2">
                <a class="text-white-50 font-weight-light" href="/datenschutz">Datenschutz</a></li>
            </ul>
            <a href="https://www.chocobrain.com" title="Inbound Marketing Website Entwicklung" class="text-white-50 font-weight-light mr-2"
              target="_blank" rel="noopener noreferrer">
              by chocoBRAIN Marketing Software
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>