{%- comment %}
  Hero-4
  class: hero-4

  Section:
  pos 1: image (hero-image)
  pos 2: text.plain (h1)
  pos 3: image (author-image + link) [the description will be used as caption]
{% endcomment -%}

{% capture bg_image %}
  background-image: url({{section.blocks[0].settings.src_best}});
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
{% endcapture %}

<div class="hero-4 container-fluid mb-5" style="min-height: 50vh; max-width: 1400px">
  <div class="row h-100">
    <div class="col-lg-6 d-flex flex-column align-items-center order-1 order-lg-0">
      <div class="flex-grow-1 d-flex align-items-center">
        <h1 class="text-center mt-3 mt-lg-0">
          {{ section.blocks[1].settings.plain }}
        </h1>
      </div>
      <div class="row mt-lg-3 p-3">
        <div>
          <a href="{{ section.blocks[2].settings.url }}">
            <img style="width: 3.5rem; height: 3.5rem;" class="rounded-circle img-fluid cld-responsive" data-src="{{section.blocks[2].settings.src}}" src="{{section.blocks[2].settings.src}}" alt="{{section.blocks[2].settings.alt}}">
          </a>
        </div>
        <div class="col d-flex flex-column justify-content-center align-content-center">
          <a href="{{section.blocks[2].settings.url}}">Verfasst von {{ section.blocks[2].settings.caption }}</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 px-0 order-0 order-lg-1" style="{{bg_image}}">
    </div>
  </div>
</div>
