{%- comment -%}
Hero-2
class: hero-2

Section:
  - image (bg_image)

Column 1:
  pos 10: text.plain (h1)
  - text.plain (p)

Column 2:
  pos 10: text.plain (text in circle)
{%- endcomment -%}

{%- for block in section.blocks -%}
  {%- case block.block_type -%}
    {%- when 'image' -%}
      {% capture bg_image %}
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
          url({{block.settings.src}});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(239, 234, 231);
        height: 500px;
      {% endcapture %}
  {%- endcase -%}
{%- endfor -%}

<section class="hero-2 d-flex flex-column justify-content-between mb-5 position-relative text-white"
  style="{{bg_image}}">
  <div class="mt-5 px-3 px-md-5 text-center">
    <h1 class="mt-5 display-4">{{ section.columns[0].blocks[0].settings.plain }}</h1>
    {%- for block in section.columns[0].blocks | offset: 1 -%}
      {%- if block.block_type == 'text' -%}
        <p class="lead">{{ block.settings.plain }}</p>
      {%- endif -%}
    {%- endfor -%}
  </div>

  {%- if section.columns[1].blocks[0].block_type == 'text' -%}
    <div class="position-absolute bg-primary font-weight-bold pt-4 text-center text-white rounded-circle"
      style="
      left: 50%;
      bottom: 0%;
      transform: translate(-50%, 45%);
      margin-top: -50px;
      width: 100px;
      height: 100px;
      ">
      <div>{{ section.columns[1].blocks[0].settings.plain }}</div>
    </div>
  {%- endif -%}

  <div class="hero-end">
    <svg class="w-100" style="height: 5vw" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="white" points="0,0 50,100 101,0 101,101 0,101"/>
    </svg>
  </div>

</section>
