{%- comment -%}
Hero-3
class: hero-3

Section:
  - html-snippet (bg_color)

Column 1:
  - image

Column 2:
  - text.html
  - html-snippet (button)

bg_color (html-snippet):
  background: #de8129;
  background: -webkit-linear-gradient(to bottom,#f4ce9f,#de8129);
  background: linear-gradient(to bottom,#f4ce9f,#de8129);

button (html-snippet):
  <a class="btn btn-secondary btn-lg" href="#">
    TEXT
  </a>
{%- endcomment -%}

{%- for block in section.blocks -%}
  {%- case block.block_type -%}
    {%- when 'html' -%}
      {%- capture bg_color -%}
        {{block.settings.html}}
      {%- endcapture -%}
  {%- endcase -%}
{%- endfor -%}

<section class="hero-3 mb-5" style="{{bg_color}}">
  <div class="container d-flex h-100 pt-5">
    <div class="col-md-6 align-self-end text-center d-none d-md-block" style="overflow: hidden">
      {%- for block in section.columns[0].blocks -%}
        {%- if block.block_type == 'image' -%}
          <img class="w-100 h-100 img-fluid cld-responsive" data-src="{{ block.settings.src }}" src="{{ block.settings.src }}" alt="{{ block.settings.alt }}">
        {%- endif -%}
      {%- endfor -%}
    </div>
    <div class="col-md-6 align-self-center px-0 px-lg-2 py-4 pb-md-5">
      {%- for block in section.columns[1].blocks -%}
        {%- if block.block_type == 'text' -%}
          {{ block.settings.html }}
        {%- elsif block.block_type == 'html' -%}
          {{ block.settings.html }}
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</section>
