{%- comment -%}
Hero-1
class: hero-1

Section:
 - image (bg_image)
 - html-snipped (bg_text)

Column 1:
pos 10: text.plain (h1)
- text.plain (p)
- html-snipped (button)

bg_text (html-snipped):
  padding: 1px;
  box-shadow: 0.1em 0 0 rgba(229,149,57,0.9), -0.1em 0 0 rgba(229,149,57,0.9);
  background-color: #e59539;
  background-color: rgba(229,149,57,0.9);

button (html-snipped):
  <a class="btn btn-secondary btn-lg" href="">
    Jetzt anfragen
  </a>
{%- endcomment -%}

{%- for block in section.blocks -%}
  {%- case block.block_type -%}
    {%- when 'image' -%}
      {% capture bg_image %}
        background: url({{block.settings.src_best}});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
        font-size: 2rem;
      {% endcapture %}
    {%- when 'html' -%}
      {%- capture bg_text -%}
        {{block.settings.html}}
      {%- endcapture -%}
  {%- endcase -%}
{%- endfor -%}

<section class="hero-1 position-relative" style="{{bg_image}}">
  <div class="container pt-5 h-100 d-flex">
    <div class="row">
      <div class="mt-3 ml-2 ml-sm-0">
        <h1 class="d-inline" style="line-height: 1.6em; font-size: 2.2rem; color: #000;">
          <span style="{{bg_text}}">
            {{section.columns[0].blocks[0].settings.plain}}
          </span>
        </h1>
        <div class="my-3">
          <div style="line-height: 1">
            {%- for block in section.columns[0].blocks | offset: 1 -%}
              {%- if block.block_type == 'text' -%}
                <p class="mt-0 mb-2 d-inline font-weight-light" style="font-size: 1.25rem; line-height: 1.6em; color: #000;">
                  <span style="{{bg_text}}">
                    {{block.settings.plain}}
                  </span>
                </p>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
        {%- for block in section.columns[0].blocks | offset: 1 -%}
          {%- if block.block_type == 'html' -%}
            {{block.settings.html}}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
